/**
 * Site header
 */
[am-Header~="site"] {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

[am-Title] {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

[am-Nav] {
    float: right;
    line-height: 56px;

    [am-Icon~="menu"] {
        display: none;
    }

    [am-Link~="page"] {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        [am-Icon~="menu"] {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        [am-Trigger] {
            clear: both;
            display: none;
        }

        &:hover [am-Trigger] {
            display: block;
            padding-bottom: 5px;
        }

        [am-Link~="page"] {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
[am-Footer] {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}
